.gallery h1 {
  color: var(--darkGrayFont, #333);
  font-family: Montserrat;
  font-size: 44px; /* Increased from 40px to 44px */
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 61.6px */
}
.gallery p {
  color: var(--darkGrayFont, #333);
  font-family: Merriweather;
  font-size: 28px; /* Increased from 24px to 28px */
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 39.2px */
}

.headline {
  color: var(--darkGrayFont, #333);
  font-family: Montserrat;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  padding-left: 80px;
  /* position: relative; */
  top: 0;
  padding-top: 80px;
}

.gallery {
  display: flex;
  /* box-sizing: border-box;
  background: #666; */
  background: linear-gradient(
    180deg,
    #add8e6 0%,
    #2dd4bf 33%,
    rgba(139, 92, 246, 0.9) 66%,
    #add8e6 100%
  );
}

.hideScroll {
  overflow-x: scroll; /* Enable scrolling behavior */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
}

.hideScroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
}

.scrollable-container {
  scroll-behavior: smooth; /* Smooth scrolling on scroll events */
}
.productImage {
  transition: transform 0.5s ease-in-out;
}

.productImage:hover {
  transform: scale(1.04);
}

button {
  transition: transform 0.4s ease-out;
}
button:hover {
  transform: scale(1.08);
}
