.gallery h1 {
  color: var(--darkGrayFont, #333);
  font-family: Montserrat;
  font-size: 44px; /* Increased from 40px to 44px */
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 61.6px */
}

@media (max-width: 620px) {
  .gallery h1 {
    font-size: 36px; /* Reduced font size for screens 620px and below */
  }
}

@media (max-width: 420px) {
  .gallery h1 {
    font-size: 28px; /* Reduced font size for screens 420px and below */
  }
}

.gallery p {
  color: var(--darkGrayFont, #333);
  font-family: Merriweather;
  font-size: 28px; /* Increased from 24px to 28px */
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 39.2px */
}

@media (max-width: 620px) {
  .gallery p {
    font-size: 24px; /* Reduced font size for screens 620px and below */
  }
}

@media (max-width: 420px) {
  .gallery p {
    font-size: 20px; /* Reduced font size for screens 420px and below */
  }
}

.headline {
  color: var(--darkGrayFont, #333);
  font-family: Montserrat;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  padding-left: 80px;
  /* position: relative; */
  top: 0;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .headline {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 40px;
  }
}

@media (max-width: 620px) {
  .headline {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
  }
}

.gallery {
  display: flex;
  background: linear-gradient(
    180deg,
    #add8e6 0%,
    #2dd4bf 33%,
    rgba(139, 92, 246, 0.9) 66%,
    #add8e6 100%
  );
}

.hideScroll {
  overflow-x: scroll; /* Enable scrolling behavior */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
}

.hideScroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
}

.scrollable-container {
  scroll-behavior: smooth; /* Smooth scrolling on scroll events */
}

/* Wrapper to contain the image and hide overflow when scaling */
.imageWrapper {
  overflow: hidden;
  border-radius: 40px;
  width: 350px;
  height: 580px;
}

@media (max-width: 768px) {
  .imageWrapper {
    width: 260px;
    height: 430px;
  }
}

.productImage {
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.productImage:hover {
  transform: scale(1.04);
}

button {
  transition: transform 0.4s ease-out;
}
button:hover {
  transform: scale(1.08);
}
