.latesArt {
  border-radius: 42px;
  background: linear-gradient(
    136deg,
    #53331b 0%,
    #c98331 16%,
    #f6c24f 34%,
    #6cc7db 53%,
    #ffd98a 69%,
    #e28f4e 82%,
    #3c2a21 100%
  );
  filter: blur(64px);
  height: 100%;
}

.latesArt > div {
  width: "1220px";
  /* height: "660px"; */
}

.galleary h1 {
  line-height: 140%;
}
