.latesArt {
  border-radius: 41.279px;
  background: linear-gradient(
    230deg,
    rgb(221, 232, 9) 0%,
    #0286eb 45%,
    #0c51e6 50%,
    #db1b75 100%
  );
  filter: blur(40px);
  height: 100%;
}
.latesArt > div {
  width: "1220px";
  /* height: "660px"; */
}

.galleary h1 {
  line-height: 140%;
}
