@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: auto;
  --textPrimary: #333333;
  --textSecondary: #666666;
  --primaryColor: #f0f0f0;
  --secondaryColor: #add8e6;
  --accentColorYellow: #ffd700;
  --accentColorRed: #ff4c4c;
  --extraColorCyan: #2dd4bf;
  --extraColorPurple: #8b5cf6;

  --titleFont: Montserrat, sans-serif;
  --subtitleFont: Merriweather, serif;
  --h1: 56px;
  --h2: 36px;
  --h3: 28px;
  --navFontSize: 16px;
  --buttonFontSize: 18px;
  --bodyFontSize: 16px;
  --footerFontSize: 14px;
  --h1LetterSpacing: 0.5px;
  --h2LetterSpacing: 0.5px;
  --h3LetterSpacing: 0.5px;
  --navLetterSpacing: 0.2px;

  --bold: 700;
  --semiBold: 600;
  --medium: 500;
  --regular: 400;
}
body {
  overflow-x: hidden;
}
img {
  user-drag: none; /* For Safari */
  -webkit-user-drag: none;
  pointer-events: none;
}

.imgs {
  pointer-events: auto;
}

ul li::marker {
  font-size: 0.7rem; /* Adjust the size */
  color: var(--textSecondary); /* Optional: Change color */
}
li a {
  font-family: var(--titleFont);
  font-size: var(--navFontSize);
  letter-spacing: var(--navLetterSpacing);
  color: var(--textPrimary);
  opacity: 0.8;
}
li a:hover {
  color: var(--textPrimary);
  opacity: 1;
}

.active {
  color: var(--textPrimary);
  opacity: 1;
}
.btn {
  font-family: var(--titleFont);
  font-size: var(--buttonFontSize);
  font-weight: var(--semiBold);
}
.homeheroh1 {
  font-family: var(--titleFont);
  letter-spacing: var(--h1LetterSpacing);
  color: var(--textPrimary);
}
.homeherop {
  font-family: var(--subtitleFont);
  letter-spacing: var(--h1LetterSpacing);
  color: var(--textSecondary);
  font-size: 22px;
}
h2 {
  font-family: var(--titleFont);
  font-size: var(--h2);
  letter-spacing: var(--h2LetterSpacing);
  color: var(--textPrimary);
  font-weight: var(--semiBold);
}
h3 {
  font-family: var(--titleFont);
  font-size: var(--h3);
  letter-spacing: var(--h3LetterSpacing);
  color: var(--textPrimary);
}
.imagesShowcase {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  background: linear-gradient(#add8e6, var(--primaryColor));
}

.imagesShowcaseSlide {
  display: flex;
  gap: 10px;
  animation: scrollMarquee 44s linear infinite;
}

.imagesShowcaseSlide img {
  height: 288px;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
  margin: 6px 4px;
  border-radius: 8px;
}

@keyframes scrollMarquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-310.6%);
  }
}

@media (max-width: 1080px) {
  @keyframes scrollMarquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-399.6%);
    }
  }
  .imagesShowcaseSlide {
    animation: scrollMarquee 36s linear infinite;
  }
}
@media (max-width: 768px) {
  .imagesShowcaseSlide img {
    height: 250px;
    margin: 5px 3px;
  }
  @keyframes scrollMarquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-488.6%);
    }
  }
  .imagesShowcaseSlide {
    animation: scrollMarquee 32s linear infinite;
  }
}

@media (max-width: 620px) {
  .imagesShowcaseSlide img {
    height: 200px;
    margin: 4px 2px;
  }
  @keyframes scrollMarquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-487%);
    }
  }
  .imagesShowcaseSlide {
    animation: scrollMarquee 28s linear infinite;
  }
}
@media (max-width: 480px) {
  .imagesShowcaseSlide img {
    height: 150px;
    margin: 3px 1px;
  }
  @keyframes scrollMarquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-474%);
    }
  }
  .imagesShowcaseSlide {
    animation: scrollMarquee 24s linear infinite;
  }
}

.footerul {
  font-weight: 700;
}
.contact p {
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
}
.footerh1 {
  color: #333;
  text-align: left;
  font-family: Montserrat;
  font-size: 156px;
  font-style: normal;
  font-weight: 400;
  line-height: 160px; /* 125% */
  letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

@media (max-width: 1028px) {
  .footerh1 {
    font-size: 120px;
    line-height: 130px;
  }
}

@media (max-width: 786px) {
  .footerh1 {
    font-size: 100px;
    line-height: 110px;
  }
}

@media (max-width: 620px) {
  .footerh1 {
    font-size: 80px;
    line-height: 90px;
  }
}

hr {
  height: 0.4px;
  border: 1px solid #333;
}

.copywrite {
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

.transition-opacity {
  transition: opacity 1s ease-in-out;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
/* Default Styles */
nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: calc(2rem + 2vw);
}

/* For screens up to 1024px */
@media screen and (max-width: 1024px) {
  nav ul {
    gap: calc(1rem + 1vw);
  }
}

/* For screens 768px and above */
@media screen and (min-width: 766px) {
  nav ul {
    display: flex; /* Ensure consistency */
    top: 40;
  }
}

/* For screens below 769px */
@media screen and (max-width: 768px) {
  nav {
    z-index: 20;
  }
  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column; /* Stack the items vertically */
    gap: 1rem;
    background: var(--primaryColor);
  }
}

.productImage {
  transition: transform 0.5s ease-in-out;
  width: 328px;
  height: 480px;
}
@media (max-width: 768px) {
  .productImage {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 620px) {
  .productImage {
    width: 240px;
    height: 320px;
  }
}
