@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: auto;
  --textPrimary: #333333;
  --textSecondary: #666666;
  --primaryColor: #f0f0f0;
  --secondaryColor: #add8e6;
  --accentColorYellow: #ffd700;
  --accentColorRed: #ff4c4c;
  --extraColorCyan: #2dd4bf;
  --extraColorPurple: #8b5cf6;

  --titleFont: Montserrat, sans-serif;
  --subtitleFont: Merriweather, serif;
  --h1: 56px;
  --h2: 36px;
  --h3: 28px;
  --navFontSize: 16px;
  --buttonFontSize: 18px;
  --bodyFontSize: 16px;
  --footerFontSize: 14px;
  --h1LetterSpacing: 0.5px;
  --h2LetterSpacing: 0.5px;
  --h3LetterSpacing: 0.5px;
  --navLetterSpacing: 0.2px;

  --bold: 700;
  --semiBold: 600;
  --medium: 500;
  --regular: 400;
}
body {
  overflow-x: hidden;
}
ul li::marker {
  font-size: 0.7rem; /* Adjust the size */
  color: var(--textSecondary); /* Optional: Change color */
}
li a {
  font-family: var(--titleFont);
  font-size: var(--navFontSize);
  letter-spacing: var(--navLetterSpacing);
  color: var(--textPrimary);
  opacity: 0.8;
}
li a:hover {
  color: var(--textPrimary);
  opacity: 1;
}

.active {
  color: var(--textPrimary);
  opacity: 1;
}
.btn {
  font-family: var(--titleFont);
  font-size: var(--buttonFontSize);
  font-weight: var(--semiBold);
}
.homeheroh1 {
  font-family: var(--titleFont);
  letter-spacing: var(--h1LetterSpacing);
  color: var(--textPrimary);
}
.homeherop {
  font-family: var(--subtitleFont);
  letter-spacing: var(--h1LetterSpacing);
  color: var(--textSecondary);
  font-size: 22px;
}
h2 {
  font-family: var(--titleFont);
  font-size: var(--h2);
  letter-spacing: var(--h2LetterSpacing);
  color: var(--textPrimary);
  font-weight: var(--semiBold);
}
h3 {
  font-family: var(--titleFont);
  font-size: var(--h3);
  letter-spacing: var(--h3LetterSpacing);
  color: var(--textPrimary);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  /* padding: 60px 0; */
  margin: 60px 0;
  background: linear-gradient(#add8e6, var(--primaryColor));
  white-space: nowrap;
  position: relative;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 36s slide infinite linear;
  object-fit: fill;
}

.scroll img {
  border-radius: 20px;
  transition: transform 0.5s ease-in-out; /* Apply transition for both hover and non-hover states */

  &:hover {
    transform: scale(1.04); /* Scale the image when hovered */
  }
}

.scroll {
  display: flex;
  width: 600px;
  height: 400px;
  padding: 20px;
  object-fit: fill;
  gap: 40px;
}
.footerul {
  font-weight: 700;
}
.contact p {
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
}
.footerh1 {
  color: #333;
  text-align: left;
  font-family: Montserrat;
  font-size: 156px;
  font-style: normal;
  font-weight: 400;
  line-height: 160px; /* 125% */
  letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

hr {
  height: 0.4px;
  border: 1px solid #333;
}

.copywrite {
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.98;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}
.fadein {
  animation: appear 0.7s ease-out;
}
